@using FidelityCard.Application.Dtos.Request;
@model ProductRequestDto;

@{
	ViewData["Title"] = "Create a new Product";
}

<h1>Create a New Product</h1>


<hr />@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

	<form asp-action="Create">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<table>
			<th>
				<label for="companies">Choose the Company the product is being created for:</label>
			</th>
		</table>

		<select name="CompanyId" id="CompanyId" class="unhideFunctions">
			<option value=""></option>
			@foreach (var item in ViewBag.Companies)
			{
				<option value="@item.Id">@item.TradeName</option>
			}
		</select>
		<table class="initiallyHidden table">
			<thead>
				<tr>
					<th><label asp-for="Description">Description</label></th>
					<th><label asp-for="Price">Price</label></th>
					<th><label for="AvatarImage">Avatar</label></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input asp-for="Description" type="text" />
						<span asp-validation-for="Description" class="text-danger"></span>
					<td>
						<input asp-for="Price" type="text" />
						<span validation-for="Price" class="text-danger"></span>
					</td>

					<td><input name="AvatarImage" type="file" id="AvatarImage" onchange="fileCheck(this);" /></td>
					<td><input type="submit" value="Create" class="btn btn-primary" /></td>
				</tr>
			</tbody>
		</table>
	</form>

	<div class="pt-4">
		<a asp-action="Index"><button type="button" class="btn btn-outline-primary btn-sm">Return to the list</button></a>
	</div>
}

@section Scripts {

	<script type="text/javascript">
		function fileCheck(obj) {
			var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
			if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
				alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
			}
		}
	</script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}