@{
	ViewData["Title"] = "Home Page";
}

<div class="container">


	<header class="text-center">
		<h1 class="display-4">Tech Challenge</h1>
		<p>Arquitetura de sistemas .Net com Azure</p>
	</header>

	<div class="container w-75 p-3" ">

		<div class="text-center bg-light border border-primary-subtle border-4">
			<h3>FIDELITY CARD SYSTEM</h3>

			<div class="container text-start">
				<h5 class="fw-bold">O projeto:</h5>
				&nbsp; - Sistema onde um comércio possa registrar clientes e promoções<br>
				&nbsp; - Vincular promoções a clientes;<br>
				&nbsp; - Fidelizar o cliente de acordo com o critério da promoção como se fosse um cartão virtual de fidelidade.

				<p class="p-1"><b>Ex.</b> Um salão de cabelereiro cria uma promoção em que o cliente ganha um corte grátis a casa "X" vezes que cortar o cabelo.</p>
			</div>

			<div class="container text-start">
				<h5 class="fw-bold">Desenvolvedores:</h5>
				<ul>
					<li>Pedro Nascimento</li>
					<li>Rafael Brugiolo</li>
					<li>Raphael Torres Cordon</li>
					<li>Regiane Ruivo</li>
				</ul>
				</div>
		</div>

	</div>
</div>


