@{
}

<h1>Promos</h1>

<div class="d-grid gap-2">
    <a asp-action=""><button class="btn btn-secondary" type="button"> - Register a New Promo - </button></a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                TEXT
            </th>
            <th>
                TEXT
            </th>
            <th>
                TEXT
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TEXT</td>
            <td>TEXT</td>
            <td>
                <a asp-action="Edit" asp-route-id=""><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a> |
                <a asp-action="Details" asp-route-id=""><button type="button" class="btn btn-outline-secondary btn-sm">Details</button></a> |
                <a asp-action="Delete" asp-route-id=""><button type="button" class="btn btn-outline-secondary btn-sm">Delete</button></a>
            </td>
        </tr>
        </tbody>
