@using FidelityCard.Application.Dtos.Response;
@model CompanyResponseDto

@{
    ViewData["Title"] = "Details";
}

<h1>Company Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Company's Registered Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            Company's Trade Name:
        </dt>
                <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeName)
        </dd>
                <dt class="col-sm-2">
            CNPJ:
        </dt>
                <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Companies" asp-action="Edit" asp-route-id="@Model?.Id"><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a> |
    <a asp-controller="Companies" asp-action="Delete" asp-route-id="@Model?.Id"><button type="button" class="btn btn-outline-secondary btn-sm">Delete</button></a> |
    <a asp-controller="Companies" asp-action="Index"><button type="button" class="btn btn-outline-primary btn-sm">Return to the list</button></a>
</div>
