@using FidelityCard.Application.Dtos.Response;
@model CompanyResponseDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />

<form asp-controller="Companies" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<table class="table">
			<thead>
				<tr>
					<th><label asp-for="CompanyName">Company's Registered Name</label></th>
					<th><label asp-for="TradeName">Company's Trade Name</label></th>
					<th><label asp-for="Cnpj">CNPJ</label></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input asp-for="CompanyName" type="text" />
						<span asp-validation-for="CompanyName" class="text-danger"></span>
					<td><input asp-for="TradeName" type="text" />
						<span asp-validation-for="TradeName" class="text-danger"></span>
					</td>

					<td><input asp-for="Cnpj" type="text" />
						<span asp-validation-for="Cnpj" class="text-danger"></span></td>
					<td><input type="submit" value="Register changes" class="btn btn-primary" /></td>
				</tr>
			</tbody>
		</table>
</form>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-outline-primary btn-sm">Return to the list</button></a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
