@model IEnumerable<FidelityCard.Application.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Registered Users</h1>

<div class="d-grid gap-2">
    <a asp-action="Create"><button class="btn btn-secondary" type="button"> - Register a New User - </button></a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date Of Birth
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(user => user.Name))
    {
        <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-secondary btn-sm">Details</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-secondary btn-sm">Delete</button></a>
                </td>
            </tr>
    }
    </tbody>
</table>
