@*@using FidelityCard.Application.Dtos.Response;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />

<form asp-controller="Users" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr>
                <th><label asp-for="Name">Name</label></th>
                <th><label asp-for="Email">Email</label></th>
                <th><label for="AvatarImage">Avatar</label></th>
                <th></th>
            </tr>a
        </thead>
        <tbody>
            <tr>
                <td><input asp-for="Name" type="text" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </td>
                
                <td><input asp-for="Email" type="text" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </td>

                <td><input name="AvatarImage" type="file" id="AvatarImage" onchange="fileCheck(this);" />
                    <input type="hidden" asp-for="Id" />
                </td>

                <td><input type="submit" value="Confirm changes" class="btn btn-primary btn-sm" /></td>
            </tr>
        </tbody>
    </table>

</form>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-outline-primary btn-sm">Return to the list</button></a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
*@